h1 {
  font-size:48px;
  color:#2F2F2F;
  font-weight:bolder;
  letter-spacing: 1px;
  line-height:1.25;
}

.nav-item .active {
  color: #3C4248;
}

.subheader {
  font-size:36px;
  color:#3C4248;
  font-weight:bolder;
  letter-spacing:1px;
}

.section-header {
  font-size:24px;
  font-weight:bolder;
  color:#3C4248;
}

.subsection-header {
  font-size:18px;
  font-weight:bolder;
  color:#3C4248;
}

.inline-code {
  font-size:16px;
  color: #FF6A73;
  font-weight:400;
  font-family: Courier;
}

.subtext {
  color: #737373;
  font-size: 18px;
  font-weight:400;
  line-height:1.75;
}

.footer-header {
  font-size:18px;
  color:#5E5E5E;
  font-weight:bold;
}

.footer-list {
  list-style: none;
  padding-left:0px;
}

.footer-item a {
  font-size:18px;
  color:#5E5E5E;
  font-weight:400;
}

.legal {
  font-size:18px;
  font-weight:400;
  color: #9A9A9A;
}

.code {
  font-family: Courier;
  font-size:16px;
  background-color:#414B56;
  border-radius:4px;
  width:100%;
  color:white;
  padding-left:10px;
  padding-top:5px;
  padding-bottom:5px;
}

.blue-green-blob {
  background-image: url("blue-green-blob.png");
  background-repeat: no-repeat;
}

.orange-pink-blob {
  background-image: url("orange-pink-blobs.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.blue-block {
  background-image: url("blue-block.png");
  background-repeat: no-repeat;
  background-size: 100% 70%;
}

.orange-block {
  background-image: url("orange-block.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header {
  margin-bottom:40px;
}

.header-subtext {
  margin-top:40px;
  margin-bottom:40px;
}

.nav-item {
  font-weight:bolder;
  letter-spacing: 1px;
  color:#5E5E5E;
  cursor:pointer;
  margin-left:10px;
  margin-right:10px;
}

.btn-blue {
  background-color: #4A90E2;
  border-bottom: 3px solid #2B72C4;
  min-width:120px;
  height:50px;
  margin-top:10px;
  margin-bottom:10px;
  padding-top:12px;
  color:white;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn-blue:hover {
  background-color:#3982D7;
  border-bottom: 3px solid #1D67BD;
}

.btn-light-blue {
  background-color: #ACD2FF;
  border-bottom: 3px solid #ACD2FF;
  min-width:120px;
  height:50px;
  margin-top:10px;
  margin-bottom:10px;
  padding-top:12px;
  color:white;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn-light-blue:hover {
  background-color:#ACD2FF;
  border-bottom: 3px solid #99C6FD;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */

  display: flex;
  align-items: center;
}
